#divElement,#divElement2{
    margin:5rem; 
    text-align: center;
    width:500px;
    border:2px solid brown;
    z-index: 0;
    height: 10vh;
}

#divElement div p{
    z-index: 2;
}

#divElement div{
    z-index: 1;
    height: 100%;
    margin: 0;
    background-color: purple;
}

#divElement2 div{
    z-index: 1;
    height: 100%;
    margin: 0;
    background-color: brown;
}